node_modules/
backend/dist/
backend/node_modules/
frontend/dist/
frontend/node_modules/

# Ignore environment variable files
.env
.env.development
.env.production
backend/.env
backend/.env.expample
backend/.env.example
frontend/.env
frontend/.env.expample
frontend/.env.example

# Keep safe templates under version control
!/.env.example
!/.env.development.example
